#background {
  background: rgba(250, 252, 255, 1);
}
#text-nav {
  font-family: Nunito Sans;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(99, 121, 244, 1);
}
#img-nav {
  border-radius: 10px;
  max-width: 20%;
}
#text-nav-name {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 5px;
}
#text-nav-number {
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 40%;
  margin-left: 10px;
}

#card {
  bottom: 0;
  margin-top: 5%;
  border-radius: 0%;
  background: rgba(99, 121, 244, 1);
  border-bottom: 0%;
  padding-bottom: 0;
}
#text-footer {
  font-family: Nunito Sans;
  font-size: 100%;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(239, 239, 239, 1);
}
.text-menu {
  font-family: Nunito Sans;
  font-size: 18px;
  margin-left: 7px;
  color: black;
  opacity: 40%;
}
#db-menu-mobile {
  height: 100px;
  background: white;
  border-radius: 20px;
  margin-left: 3%;
  margin-top: 6%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
#text-tr {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.text-history {
  font-family: Nunito Sans;
  font-size: 13px;
}
#picture_history {
  height: 50px;
}
.text-money {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: right;
}
#ballance {
  background-color: #6379f4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  border-radius: 25px;
}
#text-ballance {
  font-family: Nunito Sans;
  text-align: left;
  color: rgba(250, 252, 255, 1);
}
#btn-ballance {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  width: 130px;
}
#text-chart-money{
  font-family: Nunito Sans;
  font-style: bold;
  color: black;
}
#canvas{
}