#background {
  background: rgba(250, 252, 255, 1);
}
#text-nav {
  font-family: Nunito Sans;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(99, 121, 244, 1);
}
#img-nav {
  border-radius: 10px;
  max-width: 20%;
}
#text-nav-name {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 5px;
}
#text-nav-number {
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 40%;
  margin-left: 10px;
}
#footer {
  bottom: 0;
  margin-top: 5%;
  border-radius: 0%;
  background: rgba(99, 121, 244, 1);
  border-bottom: 0%;
  padding-bottom: 0;
}
#text-footer {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(239, 239, 239, 1);
}
.text-menu {
  font-family: Nunito Sans;
  font-size: 18px;
  margin-left: 7px;
  color: black;
  opacity: 40%;
}
.transfer {
  margin-top: 2%;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
.search-input {
  margin-left: 25px;
  background: rgba(58, 61, 66, 0.1);
  max-width: 91%;
  border-radius: 12px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}
.text-search-receiver {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 25px;
}
.text-history {
  font-family: Nunito Sans;
  font-size: 16px;
  letter-spacing: 0em;
  margin-left: 15px;
}
#btn-tryagain {
  background: #6379f4;
  height: 57px;
  width: 170px;
  left: 0px;
  top: 0px;
  border-radius: 12px;
}
.text-tr-hs {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.box-details {
  border-radius: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.tr-box {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
#input-modal {
  height: 65px;
  width: 53px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  font-family: Nunito Sans;
  text-align: center;
  border: 0;
  border: 1px solid rgba(169, 169, 169, 0.6);
  color: black;
}

.modal-confir {
  height: 417px;
  width: 503px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
